<%- include("Partials/header"); -%>
<div class="text-right">
  
</div>  
  <p><%=date%></p>

  <h1 style="text-align: center;"><%=title%></h1>
 
  <img src= "<%=img%>" class="center img-fluid" alt="">
 
<br>
  <% for (let i= 5; i< content.length; i++) { %>
      
    <h4 style="text-align: center;">
        <%=  content[i]  %>
    </h4>
  <br>
  <% } %>
  <script>

  </script>

<%- include("Partials/footer"); -%>
